:root {
  --color-background-primary: #2f303a;
  --color-text-background: #fff;
  --color-background-third: #f5f4fa;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --color-footer-link: #ffffff99;
  --btn-background-color: #188ce8;
  --color-border: #ececec;
  --color-border-card: #eeeeee;
  --color-gradient: rgba(47, 48, 58, 0.4);
  --fill-icons: #afb1b8;
  --footer-bg-icons: rgba(255, 255, 255, 0.1);
  --bg-cards-benefits: rgba(47, 48, 58, 0.8);
  --color-portfolio-overlay: rgba(33, 150, 243, 0.9);
  --modal-border: rgba(0, 0, 0, 0.1);
  --bg-backdrop: rgba(0, 0, 0, 0.2);
  --color-placeholder-modal: rgba(117, 117, 117, 0.5);
  --color-border-modal-input: rgba(33, 33, 33, 0.2);
  --color-placeholder-footer: rgba(255, 255, 255, 0.6);
  --color-border-footer-input: rgba(255, 255, 255, 0.3);
  --time-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 94px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0 solid transparent;
  border-radius: 4px;

  transition: background-color var(--time-duration) var(--timing-function);

  color: var(--color-text-background);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--btn-background-color);
}

.title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* header */
.header-page {
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-text-background);
}

.header-page__container {
  display: flex;
  align-items: center;
}

.header-page__logo {
  margin-right: 93px;
}

.logo {
  transition: color var(--time-duration) var(--timing-function);

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo--black {
  color: #000;
}

.logo--white {
  color: var(--color-text-background);
}

.logo__text {
  color: var(--accent-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.site-nav__list {
  display: flex;
  gap: 50px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__link {
  position: relative;
  display: block;
  padding: 32px 0;

  transition: color var(--time-duration) var(--timing-function);

  color: var(--title-text-color);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--active {
  position: relative;
  color: var(--accent-color);
}

.site-nav__link--active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  transform: translateY(1px);

  background-color: var(--accent-color);
}

.header-page__contact-list {
  display: flex;
  gap: 30px;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-page__link {
  display: inline-flex;
  align-items: center;
  padding: 32px 0;

  transition: color var(--time-duration) var(--timing-function);

  color: var(--primary-text-color);
}

.header-page__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-page__link:hover,
.header-page__link:focus {
  color: var(--accent-color);
}

/* hero-section */

.hero-section {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  text-align: center;

  background-color: var(--color-background-primary);
  background-image: linear-gradient(var(--color-gradient), var(--color-gradient)),
    url('../images/hero/hero-background-image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-section__title {
  margin-bottom: 30px;

  color: var(--color-text-background);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-section__btn {
  margin: 0 auto;
  padding: 10px 32px;
}

/* benefits-section*/

.benefits-section {
  background-color: var(--color-text-background);
}

.benefits-section__list {
  display: flex;
  gap: 30px;
}

.benefits-section__item {
  flex-basis: calc((100%-30 * 3) / 4);
}

.benefits-section__box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--color-background-third);
}

.benefits-section__subtitle {
  margin-bottom: 10px;

  color: var(--title-text-color);
}

.benefits-section__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* features-section */

.features-section {
  padding-top: 0;

  background-color: var(--color-text-background);
}

.features-section__title {
  margin-bottom: 50px;
}

.features-section__list {
  display: flex;
  gap: 30px;
}

.product-thumb {
  position: relative;
}

.product-thumb__overlay {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;

  background: var(--bg-cards-benefits);
}
.product-thumb__subtitle {
  color: var(--color-text-background);
}

/* team-section */

.team-section {
  background-color: var(--color-background-third);
}

.team-section__title {
  margin-bottom: 50px;
}
.team-section__list {
  display: flex;
  gap: 30px;
}

.person-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--color-text-background);
}

.person-card__image {
  margin-bottom: 30px;
}

.person-card__name {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.person-card__work-position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* social */

.social-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  transition: color var(--time-duration) var(--timing-function),
    background-color var(--time-duration) var(--timing-function);

  color: var(--fill-icons);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--color-text-background);
}

.social-list__icon {
  fill: currentColor;
}

/* clients-section */

.clients-section {
  background-color: var(--color-text-background);
}
.clients-section__title {
  margin-bottom: 50px;
}
.clients-section__list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.client-card {
  width: 170px;
  height: 92px;
}

.client-card__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--fill-icons);
  border-radius: 4px;

  transition: color var(--time-duration) var(--timing-function),
    border-color var(--time-duration) var(--timing-function);

  color: var(--fill-icons);
}

.client-card__link:hover,
.client-card__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.client-card__icon {
  fill: currentColor;
}

/* projects-section */

.projects-section {
  background-color: var(--color-text-background);
}

.projects-section__menu {
  margin-bottom: 50px;
}

/* menu-projects */

.menu-projects {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.menu-projects__btn {
  padding: 6px 22px;
  border: 0 solid transparent;
  border-radius: 4px;

  transition: color var(--time-duration) var(--timing-function),
    background-color var(--time-duration) var(--timing-function),
    box-shadow var(--time-duration) var(--timing-function);

  color: var(--title-text-color);
  background-color: var(--color-background-third);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.menu-projects__btn:hover,
.menu-projects__btn:focus,
.menu-projects__btn--active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--color-text-background);
  background-color: var(--accent-color);
}

/* project-card */

.projects-section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-card__link {
  display: block;
  transition: box-shadow var(--time-duration) var(--timing-function);
}

.project-card__link:hover,
.project-card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card__thumb {
  position: relative;
  overflow: hidden;
}
.project-card__overlay {
  position: absolute;
  padding: 63px 24px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  transform: translateY(101%);
  transition: transform var(--time-duration) var(--timing-function);

  background: var(--color-portfolio-overlay);
}
.project-card__link:hover .project-card__overlay {
  transform: translateY(0);
}

.project-card__proposition {
  color: var(--color-text-background);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.project-card__content {
  padding: 20px 24px 20px 24px;
  border: 1px solid var(--color-border-card);

  background-color: var(--color-text-background);
}

.project-card__name {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-card__description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* footer */

.footer-page {
  padding: 60px 0;

  background-color: var(--color-background-primary);
}

.footer-page__container {
  display: flex;
  align-items: baseline;
}

.footer-page__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-page__contacs {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-page__adress {
  margin-bottom: 9px;
  color: var(--color-text-background);
}

.footer-page__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-page__link {
  transition: color var(--time-duration) var(--timing-function);
  color: var(--color-footer-link);
}

.footer-page__link:hover,
.footer-page__link:focus {
  color: var(--accent-color);
}

.footer-page__social {
  margin-left: auto;
}

.social-footer__cta {
  margin-bottom: 20px;

  color: var(--color-text-background);
}

.social-footer__link {
  transition: background-color var(--time-duration) var(--timing-function);

  color: var(--color-text-background);
  background-color: var(--footer-bg-icons);
}

.social-footer__link:hover,
.social-footer__link:focus {
  background-color: var(--accent-color);
}

.footer-page__form {
  margin-left: 93px;
}

.form-mail__cta {
  margin-bottom: 20px;

  color: var(--color-text-background);
}

.form-mail__form {
  display: flex;
  align-items: center;
  gap: 12px;
}

.form-mail__form-field {
  width: 358px;
  height: 50px;
}
.form-mail__input {
  padding: 15px 10px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--color-border-footer-input);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;

  transition: border-color var(--time-duration) var(--timing-function);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--color-text-background);
  background-color: var(--color-background-primary);
}

.form-mail__input:focus {
  border-color: var(--accent-color);
}

.form-mail__input::placeholder {
  color: var(--color-placeholder-footer);
}

.form-mail__btn {
  gap: 10px;
  padding: 10px 28px;
}

.form-mail__icon {
  fill: currentColor;
}

/* modal */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  opacity: 1;
  transition: opacity var(--time-duration) var(--timing-function),
    visibility var(--time-duration) var(--timing-function);

  background-color: var(--bg-backdrop);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--time-duration) var(--timing-function);

  background-color: var(--color-text-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal__title {
  margin-bottom: 12px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal__btn-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--modal-border);
  border-radius: 50%;

  transition: fill var(--time-duration) var(--timing-function);

  fill: var(--title-text-color);
  background-color: var(--color-text-background);
  cursor: pointer;
}

.modal__btn-close:hover,
.modal__btn-close:focus {
  fill: var(--accent-color);
}

.form__form-field {
  margin-bottom: 10px;
}

.form__form-field:nth-child(4) {
  margin-bottom: 20px;
}

.form-field__label {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-field__container {
  position: relative;
  width: 100%;
}

.form-field__input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--color-border-modal-input);
  border-radius: 4px;
  padding: 11px 12px 11px 42px;
  outline: none;

  transition: border-color var(--time-duration) var(--timing-function);

  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.form-field__input:focus {
  border-color: var(--accent-color);
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill var(--time-duration) var(--timing-function);

  fill: var(--title-text-color);
}

.form-field__container:focus-within > .form-field__icon {
  fill: var(--accent-color);
}

.form-field__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.form-field__comment::placeholder {
  color: var(--color-placeholder-modal);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-field-checkbox {
  display: flex;
  justify-content: center;

  margin-bottom: 30px;
}

.form-field-checkbox__label {
  display: flex;
  align-items: center;
  gap: 8px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.form-field-checkbox__box {
  display: inline-flex;
  width: 16px;
  height: 15px;
  outline: 2px solid var(--title-text-color);
  outline-offset: -2px;
  border-radius: 2px;

  transition: background-color var(--time-duration) var(--timing-function),
    outline var(--time-duration) var(--timing-function);
}

.form-field-checkbox__input:checked + .form-field-checkbox__box {
  background-color: var(--accent-color);
  outline: 2px solid var(--accent-color);
}

.form-field-checkbox__input:focus-visible + .form-field-checkbox__box {
  outline: 3px solid var(--title-text-color);
}

.form-field-checkbox__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.form-field__btn {
  margin: 0 auto;
  padding: 10px 55px;
}
