.client-card {
  width: 170px;
  height: 92px;
}

.client-card__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--fill-icons);
  border-radius: 4px;

  transition: color var(--time-duration) var(--timing-function),
    border-color var(--time-duration) var(--timing-function);

  color: var(--fill-icons);

  &:hover,
    &:focus {
      border-color: var(--accent-color);
      color: var(--accent-color);
    }
}

.client-card__icon {
  fill: currentColor;
}