.social-footer__cta {
    margin-bottom: 20px;

    color: var(--color-text-background);
}

.social-footer__link {
    transition: background-color var(--time-duration) var(--timing-function);

    color: var(--color-text-background);
    background-color: var(--footer-bg-icons);
}

.social-footer__link:hover,
.social-footer__link:focus {
    background-color: var(--accent-color);
}